/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  margin:0;
  font-family: Lato;
  color:#424242;
  background-color: #f8bbd0;
}

* {
  box-sizing: border-box
}
.card-like{
  background-color: white;
  padding: 15px;
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,.5));
}
.button-like{
  background-color: #e0e0e0;
  border-radius: 0.25em;
  padding:1em;
  width: fit-content;
}